* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug option */
    /* border: 1px solid magenta !important; */
}
:root {
    font-size: 16px;
    
    --paper: #FFFFFF;
    --paper-dim: #F4F4F6;
    --ink: #000000;
    --ink-light: var(--paper);
    --secondary: #252537;
    --accent: #7373A6;
    --success: #52BE4F;
    --danger: #C12E42;

    --line: var(--accent);
    --radius: 1.25rem;
    
    --container-max-width: 800px;
}

body {
    font-family: "Quicksand", Roboto, Helvetica, Arial, -apple-system, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--ink);
    background: linear-gradient(to bottom, var(--paper) 0%, var(--paper-dim) 100%);
    background-attachment: fixed;
    line-height: 1.4;
}    

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: min(100%, var(--container-max-width));
    gap: 1.5rem;
}

/* Typography */
a {
    text-decoration: none;
}

/* general shadows */
.shadow {
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

/* Buttons */
.button {
    display: inline-flex;
    padding: 0.3rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: var(--radius);
    border: 2px solid var(--secondary, #252537);
    background-color: var(--secondary, #252537);
    color: var(--ink-light);
    font-family: inherit;
    transition: all 0.2s ease;
}

.button:hover {
    border-color: var(--accent);
    background-color: var(--accent);
}

.button--no-hover {
    border-color: initial !important;
    background-color: initial !important;
}

.button--border {
    background-color: #00000000;
    color: var(--secondary);
}

/* === 
NAVBAR
=== */
.navbar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin: 1rem;
    background-color: var(--secondary);
    color: var(--ink-light) !important;
    border-radius: var(--radius);
}

.navbar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbar a {
    color: var(--ink-light);
    transition: all 0.2s ease;
    border-bottom: .1rem solid #00000000;
}

.navbar a:hover {
    /* text-decoration: underline; */
    border-color: var(--ink-light);
}